.bar-char-container{
  width: 70%;
  height: 70%;
  background-color: lightblue;
  display: flex;
  flex-direction:row;
  position: fixed;
  bottom: 5%;
  align-items: flex-end;
  text-align: center;
  margin-left: 15%;
}

.bar-char-item{
  background-color :orange;
  margin: 0.5px;
}

@media only screen and (max-width: 900px) {
  .bar-char-container{
    height: 65%;
    bottom: 2%;
  }
}